* {
  margin: 0;
  box-sizing: border-box;
}
.float-left {
  border: 2px solid red;
  float: left;
  width: 25%;
  padding: 10px;
}
.float-right {
  border: 2px solid blue;
  /* clear: left; */
  float: right;
  width: 24%;
  width: 25%;
  padding: 15px;
}
.clear-float {
  clear: both;
}

.content-box {
  width: 150px;
  height: 150px;
  padding: 10px;
  border: 10px solid green;
  /* box-sizing: content-box; */
  float: left;
  width: 50%;
}
.border-box {
  width: 150px;
  height: 150px;
  padding: 10px;
  border: 10px solid purple;
  /* box-sizing: border-box; */
  /* clear: left; */
  float: left;
  width: 50%;
}

/* position
    offset properties--to move the elements
      left:0;
      right:;
      top:0;
      bottom:;

    z-index:- to + value---adjusting the layer order of the position element.
 */
.static {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  position: static; /* default-- doesn't move the element*/
  left: 250px;
}

.relative {
  width: 200px;
  height: 200px;
  border: 2px solid blue;
  position: relative; /* */
  left: 250px;
  top: 100px;
  background-color: blue;
  z-index: 10;
}
.parent-position {
  width: 400px;
  height: 400px;
  border: 2px solid grey;
  position: relative;
  background-color: gray;
}
.child-position {
  width: 200px;
  height: 200px;
  border: 2px solid purple;
  position: absolute;
  right: 50px;
  bottom: 75px;
}
.fixed {
  width: 200px;
  height: 200px;
  border: 2px solid tomato;
  position: fixed;
  right: 90px;
  bottom: 80px;
  background-color: tomato;
  z-index: 11;
}

/* display */
.inline {
  border: 1px solid red;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline;
}
.block {
  border: 1px solid green;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: block;
}

.inline-block{
  border: 1px solid purple;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
  /* display: block; */
  background-color: teal;
  padding: 20px;
  display: inline-block;
}